.searching-box {
    position: relative;
    display: inline-block;
  }
  
  .searching-icon {
    cursor: pointer;
    font-size: 20px;
  }
  
  .searching-input-text {
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
    transition: width 0.4s ease, opacity 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .searching-box.active .searching-input-text {
    width: 200px; /* Full width when active */
    opacity: 1;
    padding-left: 25px; /* Space for the icon */
    border: 1px solid #ccc;
  }
  
  .searching-box .searching-input-text {
    padding-left: 25px;
  }
  